html {
    background: rgb(212, 94, 94);
}
.prof-box {
    width: 450px;
    height: 450px;
    background-color: rgba(5, 2, 1, 0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.prof-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 50%;
}

h1 {
    font-weight: 120;
    letter-spacing: 7;
    font-size: 40px;
}

p {
    font-weight: 120;
    letter-spacing: 2;
}

.line-break {
    width: 140px;
    margin: 0 auto;
    border-top: 1px solid white;
}

.social-icons {
    font-size: 30px;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    color: blue;
    transition-delay: 0.7s;
}